[submodule "third_party/egui"]
	path = third_party/egui
	url = https://github.com/valivalivali/egui.git
	branch = x-os-no-std
[submodule "third_party/egui_software_backend"]
	path = third_party/egui_software_backend
	url = https://github.com/valivalivali/egui_software_backend.git
	branch = main
